<div class="card" style="width: 20rem">
  <img
    src="{{ product.payload.val().imageUrl }}"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.payload.val().title }}</h5>
    <p class="card-text">
      {{ product.payload.val().price | currency : "USD" }}
    </p>
    <div class="card-footer">
      <button
        *ngIf="getQuantity() === 0; else quantity"
        (click)="addToCart()"
        class="btn btn-secondary col-12"
      >
        Add to Cart
      </button>
      <ng-template #quantity
        ><div class="row g-0">
          <div class="col-2">
            <button class="btn btn-secondary col-12" (click)="removeFromCart()">
              -
            </button>
          </div>
          <div class="col text-center">{{ getQuantity() }} in cart</div>
          <div class="col-2">
            <button class="btn btn-secondary col-12" (click)="addToCart()">
              +
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
